/* Lo mismo para Chats.css */
.chats {
  background-color: white;
  height: 100%;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}
